a.button {
  text-decoration: none;
  margin: 1em;
  padding: 0.6em 0.6em;
  font-size: 12px;
  text-transform: uppercase;
  color: #4d7c90;
  border: 1px solid #85adbe;
  border-radius: 10px; }

body {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 16px;
  background-color: #d1eefc;
  color: #4d7c90; }

p {
  font-size: 1em;
  line-height: 1.4em; }

a {
  text-decoration: none; }

h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  color: #7aa6b8; }

header {
  margin: 1em 0; }
  header h1 {
    font-size: 2em; }

header, footer, section {
  padding: 1em;
  margin-bottom: 2em; }

section.features {
  background-color: #bee7fb; }
  @media not screen and (max-width: 600px) {
    section.features h2 {
      font-size: 2em;
      text-align: right;
      padding-right: 1rem; }
    section.features p {
      border-left: 1px solid #a6c3d0;
      padding-left: 1rem; } }
  @media screen and (max-width: 600px) {
    section.features h2 {
      text-align: center;
      border-bottom: 1px solid #a6c3d0;
      padding-bottom: 0.2em;
      margin-bottom: 0.4em; } }

header, footer, .description {
  text-align: center; }
