/* Vuri
**************************************/
/* Minimal Reset
**************************************/
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid
**************************************/
body {
  max-width: 768px;
  margin: 0 auto; }

*[data-vuri] {
  max-width: 768px;
  padding: 0 64px;
  background-color: yellow; }

*[data-vuri-half], *[data-vuri-whole] {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  	/* "Clear-fix"
      */
  overflow: hidden;
  *overflow: visible; }

*[data-vuri-whole] {
  width: 640px;
  border: 1px solid red; }

*[data-vuri-half] {
  width: 300px; }

/* BreakPoints
**************************************/
@media screen and (max-width: 600px) {
  *[data-vuri] {
    margin-left: 0;
    max-width: none; }

  *[data-vuri-half], *[data-vuri-whole] {
    width: auto;
    margin-left: 0;
    display: block; } }
